<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Login</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="shortcut icon" type="image/x-icon" href="https://user-images.githubusercontent.com/43387401/188338613-85b6ccb8-1ef0-4e2a-a321-1e5cfc7e8aa8.png" />
    <script src="https://kit.fontawesome.com/14fac1d4b2.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.4.9/sweetalert2.css">
    <link rel='stylesheet' type='text/css' media='screen' href='/vendor/bootstrap/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/login.css">

</head>

<body>
    <div class="main">
        <div class="row w-100 h-100 ">
            <div class="col-lg-12 h-100 ">
                <a href="/" style=" position:absolute;"><img style="height:40px;padding-top:15px;padding-left:15px;" src="https://user-images.githubusercontent.com/43387401/188461480-58d241a9-f47d-4548-ae7b-3acdb615afb5.png" alt=""></a>
                
                <form id="loginForm" action="POST" class="w-100 h-100 d-flex justify-content-center align-items-center">
                    <div class="row d-flex justify-content-center text-center bg_form">
                        <div class="col-lg-8 mt-5">
                            <img class="imgLogin" src="https://user-images.githubusercontent.com/43387401/188483593-c98c9e3d-686a-4312-b528-b15cd1d41063.png" alt="">
                        </div>
                        <div class="col-lg-7">
                            <div class="role">
                                <p>MuziekSchool</p>
                            </div>
                        </div>
                        <div class="col-lg-9 d-flex justify-content-center flex-column align-items-center inLog mt-1">
                            <div class="input-group text-center" style="width: auto; min-width: 0;">
                                <input class="mt-2 passInput" type="text" placeholder="Username" name="username"
                                    id="username">
                            </div>
                            <div class="input-group text-center" style="width: auto; min-width: 0;">
                                <input class="passInput1" type="password" placeholder="Password" name="password"
                                    id="password">
                                <div class="input-group-append">
                                    <span class="input-group-text spn" style="padding: 0.35rem;">
                                        <i class="fa fa-fw fa-eye" id="togglePassword"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-7 mt-4">
                                <button type="submit" value="Login" class="btn btn-primary butLogin">LogIn</button>
                            </div>
                        </div>
                        <div class="col-lg-7 mt-2 inP">
                            <p><a href="/language_reg" class="regLink">Register</a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

<div class="cube_test"></div>
    <div class="piano_loader">
        <div class="piano">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <h2 class="piano_text">Welcome to IMKK</h2>
    </div>

</body>
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.4.9/sweetalert2.js"></script>
<script src='/vendor/bootstrap/js/bootstrap.min.js'></script>
<script src="/js/login.js"></script>

</html>