:root {
    --main-bg-color: #135a78;
    --main-text-color: #00739d;
    --second-text-color: #bbbec5;
    --second-bg-color: #c1ebef;
  }
  
  .primary-text {
    color: var(--main-text-color);
  }
  
  .second-text {
    color: var(--second-text-color);
  }
  
  .primary-bg {
    background-color: var(--main-bg-color);
  }
  
  .secondary-bg {
    background-color: var(--second-bg-color);
  }
  
  .rounded-full {
    border-radius: 100%;
  }
  
  #wrapper {
    overflow-x: hidden;
    background-image: linear-gradient(
      to right,
      #bacbf3,
      #c2d8f5,
      #cbe3f7,
      #d4e2f8,
      #dde6fa
    );
  }

  .main{
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in;
  }
  
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  #menu-toggle {
    cursor: pointer;
  }
  
  .list-group-item {
    border: none;
    padding: 20px 30px;
  }
  
  .list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }

  
.list-group .sidebar-submenu a {
  height: 45px;
  padding-left: 60px;
  color: var(--second-text-color);
  display: flex;
  align-items: center;
}

.list-group .sidebar-submenu a:hover{
color: rgb(68, 68, 68);
}

.body1{
  position: relative;
  top: 0;
  line-height: 1.6;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  min-height: 100vh;
}

.loader{
  animation: rotate 3s linear infinite;
height: 50px;
transform-origin: bottom center;
}

@keyframes rotate {
to {
  transform: rotate(360deg);
}
}

.circle {
animation: grow 1.5s linear infinite;
background-color: rgb(84, 155, 212);
border-radius: 50%;
display: inline-block;
margin: -10px;
height: 40px;
width: 40px;
transform: scale(0);
}

.circle:nth-of-type(2) {
animation-delay: .75s;
background-color: rgb(14, 130, 184);
}

@keyframes grow {
50% {
  transform: scale(1);
}
}