<section class="header_w">
    <div class="section-center">
        <h1 class="mb-0">Register here today</h1>
        <h5 class="pb-3">Piano lessons</h5>
        <a href="language_reg" class="btn btn-primary pt-">Register</a>
        <div class="piano_body">
            <div class="piano_keys" id="piano_keys">
                <span class="white-key C4-key"></span>
                <span class="black-key Db4-key"></span>
                <span class="white-key D4-key"></span>
                <span class="black-key Eb4-key"></span>
                <span class="white-key E4-key"></span>
                <span class="white-key F4-key"></span>
                <span class="black-key Gb4-key"></span>
                <span class="white-key G4-key"></span>
                <span class="black-key Ab4-key"></span>
                <span class="white-key A4-key"></span>
                <span class="black-key Bb4-key"></span>
                <span class="white-key B4-key"></span>

                <span class="white-key C5-key"></span>
                <span class="black-key Db5-key"></span>
                <span class="white-key D5-key"></span>
                <span class="black-key Eb5-key"></span>
                <span class="white-key E5-key"></span>

                <span class="white-key C4-key"></span>
                <span class="white-key D4-key"></span>
                <span class="white-key E4-key"></span>
                <span class="white-key F4-key"></span>
                <span class="black-key Gb4-key1"></span>
                <span class="white-key G4-key"></span>
                <span class="black-key Ab4-key1"></span>
                <span class="white-key A4-key"></span>
                <span class="black-key Bb4-key1"></span>
                <span class="white-key B4-key"></span>
                <span class="white-key C5-key"></span>
                <span class="black-key Db5-key1"></span>
                <span class="white-key D5-key"></span>
                <span class="black-key Eb5-key1"></span>
                <span class="white-key E5-key"></span>

                <span class="white-key C4-key"></span>
                <span class="black-key Db4-key2"></span>
                <span class="white-key D4-key"></span>
                <span class="black-key Eb4-key2"></span>
                <span class="white-key E4-key"></span>
                <span class="white-key F4-key"></span>
                <span class="black-key Gb4-key2"></span>
                <span class="white-key G4-key"></span>
                <span class="black-key Ab4-key2"></span>
                <span class="white-key A4-key"></span>
                <span class="black-key Bb4-key2"></span>
                <span class="white-key B4-key"></span>
                <span class="white-key C5-key"></span>
                <span class="black-key Db5-key2"></span>
                <span class="white-key D5-key"></span>
                <span class="black-key Eb5-key2"></span>
                <span class="white-key E5-key"></span>

                <span class="white-key C4-key"></span>
                <span class="black-key Db4-key3"></span>
                <span class="white-key D4-key"></span>
                <span class="black-key Eb4-key3"></span>
                <span class="white-key E4-key"></span>
                <span class="white-key F4-key"></span>
                <span class="black-key Gb4-key3"></span>
                <span class="white-key G4-key"></span>
                <span class="black-key Ab4-key3"></span>
                <span class="white-key A4-key"></span>
                <span class="black-key Bb4-key3"></span>
                <span class="white-key B4-key"></span>
                <span class="white-key C5-key"></span>

                <span class="black-key Db5-key3"></span>
                <span class="white-key D5-key"></span>
                <span class="black-key Eb5-key3"></span>
                <span class="white-key E5-key"></span>

                <span class="white-key C5-key"></span>
                <span class="black-key Db5-key4"></span>
                <span class="white-key D5-key"></span>
                <span class="black-key Eb5-key4"></span>
                <span class="black-key Gb4-key4"></span>
                <span class="black-key Ab4-key4"></span>
            </div>

        </div>

    </div>
    <div class="piano_symbol">
        <span class="sym_1">
            <img src="https://user-images.githubusercontent.com/43387401/188517126-04ea81a5-a063-44ff-9b92-7a3779265376.png?raw=true"
                alt="">
        </span>
        <span class="sym_2">
            <img src="https://user-images.githubusercontent.com/43387401/188517123-4bcb638d-9578-4a75-94c1-9f80d6efd61d.png?raw=true"
                alt="">
        </span>
        <span class="sym_3">
            <img src="https://user-images.githubusercontent.com/43387401/188517126-04ea81a5-a063-44ff-9b92-7a3779265376.png?raw=true" alt="">
        </span>
        <span class="sym_4">
            <img src="https://user-images.githubusercontent.com/43387401/188517135-b7f03753-c87a-4bb3-8758-94a76a1d0cad.png?raw=true" alt="">
        </span>
        <span class="sym_5">
            <img src="https://user-images.githubusercontent.com/43387401/188517128-a35233f8-8832-4aad-8c55-0547bbd31d6d.png?raw=true" alt="">
        </span>
        <span class="sym_6">
            <img src="https://user-images.githubusercontent.com/43387401/188517123-4bcb638d-9578-4a75-94c1-9f80d6efd61d.png?raw=true" alt="">
        </span>
        <span class="sym_7">
            <img src="https://user-images.githubusercontent.com/43387401/188517126-04ea81a5-a063-44ff-9b92-7a3779265376.png?raw=true" alt="">
        </span>
        <span class="sym_8">
            <img src="https://user-images.githubusercontent.com/43387401/188517135-b7f03753-c87a-4bb3-8758-94a76a1d0cad.png?raw=true" alt="">
        </span>
        <span class="sym_9">
<img src="https://user-images.githubusercontent.com/43387401/188517126-04ea81a5-a063-44ff-9b92-7a3779265376.png?raw=true" alt="">
        </span>
        <span class="sym_10">
            <img src="https://user-images.githubusercontent.com/43387401/188517128-a35233f8-8832-4aad-8c55-0547bbd31d6d.png?raw=true"
                alt="">
        </span>
        <span class="sym_11">
            <img src="https://user-images.githubusercontent.com/43387401/188517135-b7f03753-c87a-4bb3-8758-94a76a1d0cad.png?raw=true" alt="">
        </span>
        <span class="sym_12">
<img src="https://user-images.githubusercontent.com/43387401/188517126-04ea81a5-a063-44ff-9b92-7a3779265376.png?raw=true" alt="">
        </span>
        <span class="sym_13">
            <img src="https://user-images.githubusercontent.com/43387401/188517128-a35233f8-8832-4aad-8c55-0547bbd31d6d.png?raw=true"
                alt="">
        </span>
    </div>
</section>

<section class="welcome">
<h3>Coming Soon</h3>
</section>