@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");

*{
    font-family: 'Montserrat';
}

body{
   
}

/* language_reg */
.sec_lang{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
     background: white;
    animation: fadeIn 1s ease-in;
}

.lang_title{
    flex-direction: column;
}

.char_leo_bg img{
    height: 450px;
}

.container_lang {
    display: flex;
    width: 100%;
}
.card {
    width: 290px;
    margin: 10px;
    background-color: white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.lang_p{
    font-size:11px;
    padding-left: 14px;
    color: rgb(89, 89, 89);
}

.card:hover .card__caption {
    top: 50%;
    transform: translateY(-50%);
}
.card:hover .card__image {
    transform: translateY(-10px);
}
.card:hover .card__thumb::after {
    top: 0;
}
.card:hover .card__snippet {
    margin: 20px 0;
}
.card__thumb {
    position: relative;
    max-height: 400px;
    overflow: hidden;
}
@media (min-width: 1024px) {
    .card__thumb {
        max-height: 280px;
   }
}
.card__thumb::after {
    position: absolute;
    top: 0;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, .5) 40%, rgba(255, 255, 255, 0) 100%);
    transition: 0.3s;
}
@media (min-width: 1024px) {
    .card__thumb::after {
        top: calc(100% - 140px);
   }
}
.card__image {
    transition: 0.5s ease-in-out;
    height: 350px;
    background-repeat:no-repeat;
background-size:contain;
background-position:center;
}
.card__caption {
    position: absolute;
    top: 50%;
    z-index: 1;
    padding: 0 20px;
    color: white;
    transform: translateY(-50%);
    text-align: center;
    transition: 0.3s;
}
@media (min-width: 1024px) {
    .card__caption {
        top: calc(100% - 110px);
        transform: unset;
   }
}
.card__title {
    display: -webkit-box;
    max-height: 85px;
    overflow: hidden;
    font-size: 23px;
    line-height: 28px;
    text-shadow: 0px 1px 5px black;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-top: 20px;
}
.card__snippet {
    display: -webkit-box;
    max-height: 150px;
    margin: 20px 0;
    overflow: hidden;
    font-size: 16px;
    line-height: 20px;
    text-overflow: ellipsis;
    transition: 0.5s ease-in-out;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}
@media (min-width: 1024px) {
    .card__snippet {
        margin: 60px 0;
   }
}
.card__button {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    border: 1px solid white;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s;
}
.card__button:hover {
    color: black;
    background-color: white;
}
.disclaimer {
    position: fixed;
    bottom: 0;
    left: 50%;
    z-index: 2;
    box-sizing: border-box;
    width: 100%;
    padding: 20px 10px;
    background-color: white;
    transform: translateX(-50%);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: center;
}
.disclaimer__link {
    color: #755d87;
    text-decoration: none;
}



header{
    width: 100%;
    height: 75px;
    background: #002147;
    top: 0;
    left: 0;
}

a img{
    margin-top: 15px;
    height: 45px;
}

.register-header{
    height: 150px;
    padding-top: 50px;
    text-align: center;
}

.avatar-upload {
    position: relative;
    max-width: 205px;
  
}
.avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
}
.avatar-upload .avatar-edit input {
    display: none;
}
.avatar-upload .avatar-edit input + label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all .2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
    content: "\f040";
    font-family: 'FontAwesome';
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}
.avatar-upload .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
}
.avatar-upload .avatar-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.avatar-text{
    padding-top: 10px;
    font-size: 12px;
}

.reg-input{
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    width: 100%;
    min-height: 44px;
    border: unset;
    border-radius: 4px;
    outline-color: rgb(84 105 212 / 0.5);
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px;
}

.stud-text{
    padding-top: 20px;
    padding-bottom: 10px;
}

.stud_p{
    font-size: 11px;
    color: rgb(137, 29, 29);
    margin-top: 5px;
    opacity: 0;
    display: none;
}

.mb-25{
margin-bottom: 25px;
}

.mb-25 h5{
    font-weight: 500;
}

label{
    font-weight: 600;
}

.reg-sendButton{
    padding: 10px 50px;
    margin-bottom: 40px;
    margin-top: 13px;
    border: none;
    background: #002147;
    color: white;
    border-radius: 8px;
    float: right;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.footer{
    height: 20vh;
display: flex;
align-items: flex-end;
}

.lowerbar{
    width: 100%;
    height: 30px;
    background: #145bab;
    color: white;
}

.lowerbar p{
    font-size: 12px;
    padding: 5px;
    text-align: right;
}




/* modal */



html.modal-active, div.modal_body {
    overflow: hidden;
}

.modal_body{    min-height: 100%;
    height: 100%;
    background-image: url(http://theartmad.com/wp-content/uploads/Dark-Grey-Texture-Wallpaper-5.jpg);
    background-size: cover;
    background-position: top center;
    font-family: helvetica neue, helvetica, arial, sans-serif;
    font-weight: 200;
    line-height: 1;
}


#modal-container {
    position: fixed;
    display: table;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: scale(0);
    z-index: 1;
}

svg:not(:root) {
    overflow: hidden;
    vertical-align: 0px;
}

#modal-container.six {
    transform: scale(1);
}

#modal-container.six .modal-background {
    background: rgba(0, 0, 0, .0);
    animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.six .modal-background .modal_pre {
    background-color: transparent;
    animation: modalFadeIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.six .modal-background .modal_pre h2, #modal-container.six .modal-background .modal_pre p {
    opacity: 0;
    position: relative;
    animation: modalContentFadeIn 0.5s 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.six .modal-background .modal_pre .modal-svg rect {
    animation: sketchIn 0.5s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.six.out {
    animation: quickScaleDown 0s 0.5s linear forwards;
}
#modal-container.six.out .modal-background {
    animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.six.out .modal-background .modal_pre {
    animation: modalFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.six.out .modal-background .modal h2, #modal-container.six.out .modal-background .modal_pre p {
    animation: modalContentFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.six.out .modal-background .modal .modal-svg rect {
    animation: sketchOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container .modal-background {
    display: table-cell;
    background: rgba(0, 0, 0, .8);
    text-align: center;
    vertical-align: middle;
}

#modal-container .modal-background .modal_pre {
    background: white;
    padding: 50px;
    display: inline-block;
    border-radius: 3px;
    font-weight: 300;
    position: relative;
}
#modal-container .modal-background .modal_pre h2 {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 15px;
}
#modal-container .modal-background .modal_pre p {
    font-size: 18px;
    line-height: 22px;
}
#modal-container .modal-background .modal_pre .modal-svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 3px;
}
#modal-container .modal-background .modal_pre .modal-svg rect {
    stroke: #fff;
    stroke-width: 2px;
    stroke-dasharray: 778;
    stroke-dashoffset: 778;
}
.content {
    min-height: 100%;
    height: 100%;
    background: white;
    position: relative;
    z-index: 0;
}
.content h1 {
    padding: 75px 0 30px 0;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
}
.content .buttons {
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
.content .buttons .button {
    display: inline-block;
    text-align: center;
    padding: 10px 15px;
    margin: 10px;
    background: red;
    font-size: 18px;
    background-color: #efefef;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
    cursor: pointer;
}
.content .buttons .button:hover {
    color: white;
    background: #009bd5;
}

.pop_up_header{
    background: #002147;
    height: 80px;
    width: 100%;
}

@keyframes unfoldIn {
    0% {
        transform: scaleY(0.005) scaleX(0);
   }
    50% {
        transform: scaleY(0.005) scaleX(1);
   }
    100% {
        transform: scaleY(1) scaleX(1);
   }
}
@keyframes unfoldOut {
    0% {
        transform: scaleY(1) scaleX(1);
   }
    50% {
        transform: scaleY(0.005) scaleX(1);
   }
    100% {
        transform: scaleY(0.005) scaleX(0);
   }
}
@keyframes zoomIn {
    0% {
        transform: scale(0);
   }
    100% {
        transform: scale(1);
   }
}
@keyframes zoomOut {
    0% {
        transform: scale(1);
   }
    100% {
        transform: scale(0);
   }
}
@keyframes fadeIn {
    0% {
        background: rgba(0, 0, 0, .0);
   }
    100% {
        background: rgba(0, 0, 0, .7);
   }
}
@keyframes fadeOut {
    0% {
        background: rgba(0, 0, 0, .7);
   }
    100% {
        background: rgba(0, 0, 0, .0);
   }
}
@keyframes scaleUp {
    0% {
        transform: scale(0.8) translateY(1000px);
        opacity: 0;
   }
    100% {
        transform: scale(1) translateY(0px);
        opacity: 1;
   }
}
@keyframes scaleDown {
    0% {
        transform: scale(1) translateY(0px);
        opacity: 1;
   }
    100% {
        transform: scale(0.8) translateY(1000px);
        opacity: 0;
   }
}
@keyframes scaleBack {
    0% {
        transform: scale(1);
   }
    100% {
        transform: scale(0.85);
   }
}
@keyframes scaleForward {
    0% {
        transform: scale(0.85);
   }
    100% {
        transform: scale(1);
   }
}
@keyframes quickScaleDown {
    0% {
        transform: scale(1);
   }
    99.9% {
        transform: scale(1);
   }
    100% {
        transform: scale(0);
   }
}
@keyframes slideUpLarge {
    0% {
        transform: translateY(0%);
   }
    100% {
        transform: translateY(-100%);
   }
}
@keyframes slideDownLarge {
    0% {
        transform: translateY(-100%);
   }
    100% {
        transform: translateY(0%);
   }
}
@keyframes moveUp {
    0% {
        transform: translateY(150px);
   }
    100% {
        transform: translateY(0);
   }
}
@keyframes moveDown {
    0% {
        transform: translateY(0px);
   }
    100% {
        transform: translateY(150px);
   }
}
@keyframes blowUpContent {
    0% {
        transform: scale(1);
        opacity: 1;
   }
    99.9% {
        transform: scale(2);
        opacity: 0;
   }
    100% {
        transform: scale(0);
   }
}
@keyframes blowUpContentTwo {
    0% {
        transform: scale(2);
        opacity: 0;
   }
    100% {
        transform: scale(1);
        opacity: 1;
   }
}
@keyframes blowUpModal {
    0% {
        transform: scale(0);
   }
    100% {
        transform: scale(1);
   }
}
@keyframes blowUpModalTwo {
    0% {
        transform: scale(1);
        opacity: 1;
   }
    100% {
        transform: scale(0);
        opacity: 0;
   }
}
@keyframes roadRunnerIn {
    0% {
        transform: translateX(-1500px) skewX(30deg) scaleX(1.3);
   }
    70% {
        transform: translateX(30px) skewX(0deg) scaleX(0.9);
   }
    100% {
        transform: translateX(0px) skewX(0deg) scaleX(1);
   }
}
@keyframes roadRunnerOut {
    0% {
        transform: translateX(0px) skewX(0deg) scaleX(1);
   }
    30% {
        transform: translateX(-30px) skewX(-5deg) scaleX(0.9);
   }
    100% {
        transform: translateX(1500px) skewX(30deg) scaleX(1.3);
   }
}
@keyframes sketchIn {
    0% {
        stroke-dashoffset: 778;
   }
    100% {
        stroke-dashoffset: 0;
   }
}
@keyframes sketchOut {
    0% {
        stroke-dashoffset: 0;
   }
    100% {
        stroke-dashoffset: 778;
   }
}
@keyframes modalFadeIn {
    0% {
        background-color: transparent;
   }
    100% {
        background-color: white;
   }
}
@keyframes modalFadeOut {
    0% {
        background-color: white;
   }
    100% {
        background-color: transparent;
   }
}
@keyframes modalContentFadeIn {
    0% {
        opacity: 0;
        top: -20px;
   }
    100% {
        opacity: 1;
        top: 0;
   }
}
@keyframes modalContentFadeOut {
    0% {
        opacity: 1;
        top: 0px;
   }
    100% {
        opacity: 0;
        top: -20px;
   }
}
@keyframes bondJamesBond {
    0% {
        transform: translateX(1000px);
   }
    80% {
        transform: translateX(0px);
        border-radius: 75px;
        height: 75px;
        width: 75px;
   }
    90% {
        border-radius: 3px;
        height: 182px;
        width: 247px;
   }
    100% {
        border-radius: 3px;
        height: 162px;
        width: 227px;
   }
}
@keyframes killShot {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
   }
    100% {
        transform: translateY(300px) rotate(45deg);
        opacity: 0;
   }
}
@keyframes fadeToRed {
    0% {
        background-color: rgba(0, 0, 0, .6);
   }
    100% {
        background-color: rgba(255, 0, 0, .8);
   }
}
@keyframes slowFade {
    0% {
        opacity: 1;
   }
    99.9% {
        opacity: 0;
        transform: scale(1);
   }
    100% {
        transform: scale(0);
   }
}
