<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>lang_regoster</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://kit.fontawesome.com/14fac1d4b2.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' type='text/css' media='screen' href='/vendor/bootstrap/css/bootstrap.min.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/register.css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.min.css">
</head>

<body>
    <section class="sec_lang">
        <div class="container pl-3">
            <div class="row">
                <div class="col-md-4">
                    <div class="char_leo_bg">
                        <img src="/media/character_leo.png" alt="">
                    </div>
                </div>
                <div class="col-md-8 char_text">
                    <div class="row lang_title pl-2">
                       <h2 class="font-weight-bold">Welcome future student</h2>
                       <p>Sign up for the Lesson Program</p>
                    </div>
                    <div class="row">
                        <div class="container_lang">
                            <div class="card">
                                <figure class="card__thumb">
                                    <img src="/media/netherlands-flag_2.png"
                                        alt="Picture by Kyle Cottrell" class="card__image">
                                    <figcaption class="card__caption">
                                        <h2 class="card__title">Nederlands</h2>
                                        <p class="card__snippet">Wat leuk dat u wilt starten met mijn Piano muziek methode. Klik hier
                                            voor in te schrijven voor de pianolessen in Nederland.
                                        </p>
                                        <a href="/register_neth" class="card__button">Inschrijven</a>
                                    </figcaption>
                                </figure>
                                <p class="lang_p">De pianolessen worden gegeven in Rotterdam.</p>
                            </div>
                            
                            <div class="card">
                                <figure class="card__thumb">
                                    <img src="/media/curacao_flag.png"
                                        alt="Picture by Nathan Dumlao" class="card__image">
                                    <figcaption class="card__caption">
                                        <h2 class="card__title">Papiamentu</h2>
                                        <p class="card__snippet">Kontentu ku bo kier inskribí pa e kurso di piano. E methodo Akort!
                                            Klik aki i registra bo mes pa e kurso di piano na Korsou.
                                        </p>
                                        <a href="/register_pap" class="card__button">Inskribí</a>
                                    </figcaption>
                                </figure>
                                <p class="lang_p">E kurso ta wordu duná riba e isla di Kòrsou.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.all.min.js"></script>
<script src='/vendor/bootstrap/js/bootstrap.min.js'></script>
<script src='/js/register.js'></script>

</html>