<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Maestro</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="shortcut icon" type="image/x-icon"
        href="https://user-images.githubusercontent.com/43387401/188338613-85b6ccb8-1ef0-4e2a-a321-1e5cfc7e8aa8.png" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel='stylesheet' type='text/css' media='screen' href='/css/portal/admin.css'>
</head>

<body>
    <div class="main">
        <div class="d-flex" id="wrapper">

            <!-- Sidebar -->
            <div class="bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom">
                    LDavelaar</div>
                <div class="list-group list-group-flush my-3">
                    <a href="/portal_admin"
                        class="list-group-item list-group-item-action bg-transparent second-text active"><i
                            class="fas fa-tachometer-alt me-2"></i>Dashboard</a>

                    <!-- NL Submenu content -->
                    <a href="#submenu1" data-toggle="collapse" aria-expanded="false"
                        class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
                        <div class="d-flex w-100 justify-content-start align-items-center">
                            <i class="fas fa-graduation-cap me-2"></i>
                            <span class="menu-collapsed">Students NL</span>
                            <span class="submenu-icon ml-auto"></span>
                        </div>
                    </a>
                    <div id='submenu1' class="collapse sidebar-submenu">
                        <a href="/admin_student_neth" class="list-group-item list-group-item-action fw-bold">
                            <span class="menu-collapsed">All Students</span>
                        </a>
                        <a href="/admin_nl_edit" class="list-group-item list-group-item-action fw-bold">
                            <span class="menu-collapsed">Edit Students</span>
                        </a>
                    </div>
                    <!-- Cur Submenu content -->
                    <a href="#submenu2" data-toggle="collapse" aria-expanded="false"
                        class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
                        <div class="d-flex w-100 justify-content-start align-items-center">
                            <i class="fas fa-graduation-cap me-2"></i>
                            <span class="menu-collapsed">Students Cur</span>
                            <span class="submenu-icon ml-auto"></span>
                        </div>
                    </a>
                    <div id='submenu2' class="collapse sidebar-submenu">
                        <a href="/admin_student_cur" class="list-group-item list-group-item-action fw-bold">
                            <span class="menu-collapsed">All Students</span>
                        </a>
                        <a href="/admin_cur_edit" class="list-group-item list-group-item-action fw-bold">
                            <span class="menu-collapsed">Edit Students</span>
                        </a>
                    </div>
                    <a href="/admin_classes"
                        class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                            class="fas fa-landmark me-2"></i>Classes</a>
                    <!-- Materials  Submenu content -->
                    <a href="#submenu3" data-toggle="collapse" aria-expanded="false"
                        class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
                        <div class="d-flex w-100 justify-content-start align-items-center">
                            <i class="fas fa-graduation-cap me-2"></i>
                            <span class="menu-collapsed">Materials</span>
                            <span class="submenu-icon ml-auto"></span>
                        </div>
                    </a>
                    <div id='submenu3' class="collapse sidebar-submenu">
                        <a href="/admin_add_materials" class="list-group-item list-group-item-action fw-bold">
                            <span class="menu-collapsed">Add Materials</span>
                        </a>
                        <a href="/admin_nl_edit" class="list-group-item list-group-item-action fw-bold">
                            <span class="menu-collapsed">Edit Students</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div id="page-content-wrapper">
                <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
                    <div class="d-flex align-items-center">
                        <i class="fas fa-align-left primary-text fs-4 me-3" id="menu-toggle"></i>
                        <h2 class="fs-2 m-0">Dashboard</h2>
                    </div>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle second-text fw-bold" href="#" id="navbarDropdown"
                                    role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-user me-2"></i>Admin
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#">Profile</a></li>
                                    <li><a class="dropdown-item" href="#">Settings</a></li>
                                    <li><a class="dropdown-item" href="/login">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>

                <div class="container-fluid px-4 youtu pb-5">
                    <div class="row my-5">
                        <h3 class="fs-2 mb-3">Welcome Admin</h3>
                        <p>Here you can see and modify all the students data and information. By clicking on the side
                            bar to select the page.</p>
                    </div>

                    <div class="row g-3 my-2 ">
                        <div class="col-md-3">
                            <div
                                class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                                <div>
                                    <h3 class="fs-2" id="classes">5</h3>
                                    <p class="fs-5">Classes</p>
                                </div>
                                <i class="fas fa-landmark fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div
                                class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                                <div>
                                    <h3 class="fs-2" id="num_neth"></h3>
                                    <p class="fs-5">Nederland</p>
                                </div>
                                <i class="fas fa-flag fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div
                                class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                                <div>
                                    <h3 class="fs-2" id="num_cur"></h3>
                                    <p class="fs-5">Curacao</p>
                                </div>
                                <i class="fas fa-flag fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div
                                class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                                <div>
                                    <h3 class="fs-2" id="studentTotal"></h3>
                                    <p class="fs-5">Students</p>
                                </div>
                                <i
                                    class="fas fa-graduation-cap fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-6"></div>
                    <div class="col-lg-6 p-5 d-flex justify-content-center align-items-center">
                        <div class="admin_ilus">
                            <svg width="650" height="550" viewBox="0 0 1196 750" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g id="welcome">
                                    <g id="header">
                                        <path id="Vector"
                                            d="M1062.19 49.2201H219.386C219.033 49.2122 218.696 49.0647 218.449 48.8092C218.201 48.5536 218.062 48.2104 218.063 47.8529C218.062 47.4954 218.201 47.1521 218.449 46.8965C218.696 46.641 219.033 46.4935 219.386 46.4856H1062.19C1062.54 46.4935 1062.88 46.641 1063.12 46.8965C1063.37 47.1521 1063.51 47.4954 1063.51 47.8529C1063.51 48.2104 1063.37 48.5536 1063.12 48.8092C1062.88 49.0647 1062.54 49.2122 1062.19 49.2201Z"
                                            fill="#CACACA" />
                                        <path id="Vector_2"
                                            d="M249.183 30.0789C257.225 30.0789 263.745 23.3455 263.745 15.0395C263.745 6.7334 257.225 0 249.183 0C241.14 0 234.621 6.7334 234.621 15.0395C234.621 23.3455 241.14 30.0789 249.183 30.0789Z"
                                            fill="#3F3D56" />
                                        <path id="Vector_3"
                                            d="M299.487 30.0789C307.53 30.0789 314.049 23.3455 314.049 15.0395C314.049 6.7334 307.53 0 299.487 0C291.445 0 284.926 6.7334 284.926 15.0395C284.926 23.3455 291.445 30.0789 299.487 30.0789Z"
                                            fill="#3F3D56" />
                                        <path id="Vector_4"
                                            d="M349.792 30.0789C357.835 30.0789 364.354 23.3455 364.354 15.0395C364.354 6.7334 357.835 0 349.792 0C341.75 0 335.23 6.7334 335.23 15.0395C335.23 23.3455 341.75 30.0789 349.792 30.0789Z"
                                            fill="#3F3D56" />
                                        <path id="Vector_5"
                                            d="M1032.04 3.72769H996.306C995.597 3.7419 994.923 4.03614 994.427 4.54722C993.931 5.05831 993.653 5.74549 993.653 6.4612C993.653 7.17692 993.931 7.8641 994.427 8.37519C994.923 8.88627 995.597 9.18051 996.306 9.19472H1032.04C1032.75 9.18051 1033.42 8.88627 1033.92 8.37519C1034.41 7.8641 1034.69 7.17692 1034.69 6.4612C1034.69 5.74549 1034.41 5.05831 1033.92 4.54722C1033.42 4.03614 1032.75 3.7419 1032.04 3.72769V3.72769Z"
                                            fill="#3F3D56" />
                                        <path id="Vector_6"
                                            d="M1032.04 13.9885H996.306C995.597 14.0027 994.923 14.2969 994.427 14.808C993.931 15.3191 993.653 16.0063 993.653 16.722C993.653 17.4377 993.931 18.1249 994.427 18.636C994.923 19.147 995.597 19.4413 996.306 19.4555H1032.04C1032.75 19.4413 1033.42 19.147 1033.92 18.636C1034.41 18.1249 1034.69 17.4377 1034.69 16.722C1034.69 16.0063 1034.41 15.3191 1033.92 14.808C1033.42 14.2969 1032.75 14.0027 1032.04 13.9885V13.9885Z"
                                            fill="#3F3D56" />
                                        <path id="Vector_7"
                                            d="M1032.04 24.2357H996.306C995.597 24.25 994.923 24.5442 994.427 25.0553C993.931 25.5663 993.653 26.2535 993.653 26.9693C993.653 27.685 993.931 28.3722 994.427 28.8832C994.923 29.3943 995.597 29.6886 996.306 29.7028H1032.04C1032.75 29.6886 1033.42 29.3943 1033.92 28.8832C1034.41 28.3722 1034.69 27.685 1034.69 26.9693C1034.69 26.2535 1034.41 25.5663 1033.92 25.0553C1033.42 24.5442 1032.75 24.25 1032.04 24.2357Z"
                                            fill="#3F3D56" />
                                    </g>
                                    <path id="bg_small"
                                        d="M875.307 156.391H296.832C293.982 156.391 291.248 157.535 289.231 159.57C287.215 161.605 286.08 164.365 286.076 167.245V443.114C286.079 445.995 287.214 448.757 289.23 450.795C291.247 452.832 293.981 453.978 296.832 453.981H875.307C878.157 453.975 880.888 452.828 882.902 450.791C884.915 448.754 886.048 445.993 886.05 443.114V167.245C886.047 164.367 884.914 161.608 882.9 159.573C880.886 157.539 878.155 156.394 875.307 156.391V156.391Z"
                                        fill="#3F3D56" />
                                    <path id="Vector_8"
                                        d="M722.508 289.297C719.66 289.3 716.929 290.444 714.915 292.479C712.901 294.514 711.768 297.272 711.765 300.15V378.075C711.767 380.954 712.9 383.715 714.913 385.752C716.927 387.789 719.658 388.936 722.508 388.942H886.05V289.297H722.508Z"
                                        fill="#01739D" />
                                    <g id="post_3_r">
                                        <path id="Vector_9" opacity="0.5"
                                            d="M1161.25 389H722.751C719.9 388.997 717.168 387.847 715.152 385.804C713.137 383.76 712.003 380.989 712 378.099V299.9C712.003 297.01 713.137 294.24 715.152 292.196C717.168 290.153 719.9 289.003 722.751 289H1161.25C1164.1 289.003 1166.83 290.153 1168.85 292.196C1170.86 294.24 1172 297.01 1172 299.9V378.099C1172 380.989 1170.86 383.76 1168.85 385.804C1166.83 387.847 1164.1 388.997 1161.25 389Z"
                                            fill="#01739D" />
                                        <path id="Vector_10"
                                            d="M781.817 361.721C791.453 361.721 799.264 353.83 799.264 344.095C799.264 334.361 791.453 326.47 781.817 326.47C772.182 326.47 764.371 334.361 764.371 344.095C764.371 353.83 772.182 361.721 781.817 361.721Z"
                                            fill="white" />
                                        <path id="Vector_11"
                                            d="M1147.45 338.974H832.211C830.833 338.974 829.512 338.421 828.537 337.437C827.563 336.452 827.016 335.117 827.016 333.725C827.016 332.333 827.563 330.998 828.537 330.014C829.512 329.03 830.833 328.477 832.211 328.477H1147.45C1148.83 328.477 1150.15 329.03 1151.12 330.014C1152.1 330.998 1152.65 332.333 1152.65 333.725C1152.65 335.117 1152.1 336.452 1151.12 337.437C1150.15 338.421 1148.83 338.974 1147.45 338.974Z"
                                            fill="white" />
                                        <path id="Vector_12"
                                            d="M1027.72 359.714H832.211C830.833 359.714 829.511 359.161 828.537 358.176C827.563 357.192 827.015 355.857 827.015 354.465C827.015 353.073 827.563 351.738 828.537 350.753C829.511 349.769 830.833 349.216 832.211 349.216H1027.72C1029.1 349.216 1030.42 349.769 1031.39 350.753C1032.37 351.738 1032.92 353.073 1032.92 354.465C1032.92 355.857 1032.37 357.192 1031.39 358.176C1030.42 359.161 1029.1 359.714 1027.72 359.714V359.714Z"
                                            fill="white" />
                                    </g>
                                    <g id="plus_ariba">
                                        <path id="Vector_13"
                                            d="M1159.16 320.949C1151.88 320.949 1144.75 318.767 1138.7 314.677C1132.64 310.588 1127.92 304.776 1125.13 297.975C1122.34 291.175 1121.61 283.692 1123.03 276.473C1124.45 269.253 1127.96 262.622 1133.11 257.417C1138.27 252.213 1144.83 248.668 1151.98 247.232C1159.12 245.796 1166.53 246.533 1173.26 249.35C1179.99 252.167 1185.74 256.937 1189.79 263.057C1193.84 269.177 1196 276.372 1196 283.733C1196 293.603 1192.12 303.07 1185.21 310.049C1178.3 317.028 1168.93 320.949 1159.16 320.949V320.949Z"
                                            fill="#01739D" />
                                        <path id="Vector_14"
                                            d="M1173.7 280.062H1162.8V269.049C1162.8 268.075 1162.41 267.141 1161.73 266.453C1161.05 265.764 1160.13 265.377 1159.16 265.377C1158.2 265.377 1157.27 265.764 1156.59 266.453C1155.91 267.141 1155.53 268.075 1155.53 269.049V280.062H1144.63C1144.15 280.061 1143.68 280.155 1143.23 280.34C1142.79 280.524 1142.39 280.794 1142.05 281.135C1141.72 281.476 1141.45 281.881 1141.26 282.327C1141.08 282.773 1140.99 283.251 1140.99 283.733C1140.99 284.216 1141.08 284.694 1141.26 285.14C1141.45 285.586 1141.72 285.991 1142.05 286.332C1142.39 286.673 1142.79 286.943 1143.23 287.127C1143.68 287.311 1144.15 287.405 1144.63 287.404H1155.53V298.418C1155.53 299.392 1155.91 300.325 1156.59 301.014C1157.27 301.702 1158.2 302.089 1159.16 302.089C1160.13 302.089 1161.05 301.702 1161.73 301.014C1162.41 300.325 1162.8 299.392 1162.8 298.418V287.404H1173.7C1174.66 287.404 1175.59 287.018 1176.27 286.329C1176.95 285.641 1177.33 284.707 1177.33 283.733C1177.33 282.76 1176.95 281.826 1176.27 281.137C1175.59 280.449 1174.66 280.062 1173.7 280.062V280.062Z"
                                            fill="white" />
                                    </g>
                                    <path id="Vector_15"
                                        d="M596.966 389.44H457.002C454.15 389.443 451.416 390.589 449.4 392.627C447.383 394.664 446.249 397.426 446.246 400.307V453.981H607.709V400.307C607.706 397.428 606.574 394.668 604.56 392.631C602.547 390.594 599.816 389.446 596.966 389.44V389.44Z"
                                        fill="#01739D" />
                                    <g id="post_2_b">
                                        <path id="Vector_16" opacity="0.5"
                                            d="M596.961 540.255H456.997C454.147 540.252 451.414 539.106 449.399 537.07C447.383 535.034 446.249 532.273 446.246 529.393V400.302C446.249 397.422 447.383 394.661 449.399 392.625C451.414 390.589 454.147 389.444 456.997 389.44H596.961C599.812 389.444 602.544 390.589 604.56 392.625C606.575 394.661 607.709 397.422 607.713 400.302V529.393C607.709 532.273 606.575 535.034 604.56 537.07C602.544 539.106 599.812 540.252 596.961 540.255Z"
                                            fill="#01739D" />
                                        <path id="Vector_17"
                                            d="M498.234 450.629C507.87 450.629 515.681 442.738 515.681 433.003C515.681 423.269 507.87 415.378 498.234 415.378C488.599 415.378 480.788 423.269 480.788 433.003C480.788 442.738 488.599 450.629 498.234 450.629Z"
                                            fill="white" />
                                        <path id="Vector_18"
                                            d="M567.973 477.419H485.983C484.606 477.419 483.284 476.866 482.31 475.882C481.336 474.897 480.788 473.562 480.788 472.17C480.788 470.778 481.336 469.443 482.31 468.459C483.284 467.475 484.606 466.922 485.983 466.922H567.973C569.351 466.922 570.672 467.475 571.647 468.459C572.621 469.443 573.168 470.778 573.168 472.17C573.168 473.562 572.621 474.897 571.647 475.882C570.672 476.866 569.351 477.419 567.973 477.419Z"
                                            fill="white" />
                                        <path id="Vector_19"
                                            d="M525.548 498.158H485.983C484.606 498.158 483.284 497.605 482.31 496.621C481.335 495.637 480.788 494.302 480.788 492.91C480.788 491.518 481.335 490.182 482.31 489.198C483.284 488.214 484.606 487.661 485.983 487.661H525.548C526.926 487.661 528.247 488.214 529.221 489.198C530.196 490.182 530.743 491.518 530.743 492.91C530.743 494.302 530.196 495.637 529.221 496.621C528.247 497.605 526.926 498.158 525.548 498.158V498.158Z"
                                            fill="white" />
                                    </g>
                                    <g id="plus_abou">
                                        <path id="Vector_20"
                                            d="M454.079 578.142C446.794 578.142 439.671 575.959 433.614 571.87C427.556 567.781 422.834 561.968 420.046 555.168C417.258 548.368 416.528 540.885 417.95 533.665C419.371 526.446 422.879 519.815 428.031 514.61C433.183 509.405 439.747 505.861 446.893 504.425C454.038 502.989 461.445 503.726 468.177 506.543C474.908 509.359 480.661 514.129 484.709 520.25C488.757 526.37 490.917 533.565 490.917 540.926C490.917 550.796 487.036 560.262 480.127 567.242C473.219 574.221 463.849 578.142 454.079 578.142V578.142Z"
                                            fill="#01739D" />
                                        <path id="Vector_21"
                                            d="M468.614 537.255H457.713V526.241C457.713 525.268 457.33 524.334 456.649 523.645C455.967 522.957 455.043 522.57 454.079 522.57C453.116 522.57 452.191 522.957 451.51 523.645C450.828 524.334 450.446 525.268 450.446 526.241V537.255H439.544C439.066 537.254 438.593 537.348 438.151 537.532C437.71 537.716 437.308 537.987 436.97 538.328C436.632 538.669 436.364 539.074 436.181 539.52C435.998 539.965 435.903 540.443 435.903 540.926C435.903 541.409 435.998 541.887 436.181 542.332C436.364 542.778 436.632 543.183 436.97 543.524C437.308 543.865 437.71 544.136 438.151 544.32C438.593 544.504 439.066 544.598 439.544 544.597H450.446V555.611C450.446 556.584 450.828 557.518 451.51 558.207C452.191 558.895 453.116 559.282 454.079 559.282C455.043 559.282 455.967 558.895 456.649 558.207C457.33 557.518 457.713 556.584 457.713 555.611V544.597H468.614C469.578 544.597 470.503 544.21 471.184 543.522C471.865 542.833 472.248 541.9 472.248 540.926C472.248 539.952 471.865 539.019 471.184 538.33C470.503 537.642 469.578 537.255 468.614 537.255Z"
                                            fill="white" />
                                    </g>
                                    <g id="post_1_a">
                                        <path id="Vector_22"
                                            d="M437.027 307.374H297.064C294.213 307.371 291.48 306.225 289.465 304.189C287.449 302.153 286.316 299.392 286.312 296.512V167.421C286.316 164.541 287.449 161.781 289.465 159.744C291.481 157.708 294.213 156.563 297.064 156.56H437.027C439.878 156.563 442.611 157.708 444.626 159.744C446.642 161.781 447.776 164.541 447.779 167.421V296.512C447.776 299.392 446.642 302.153 444.626 304.189C442.611 306.225 439.878 307.371 437.027 307.374V307.374Z"
                                            fill="#01739D" />
                                        <path id="Vector_23"
                                            d="M338.302 228.521C347.937 228.521 355.748 220.63 355.748 210.895C355.748 201.161 347.937 193.27 338.302 193.27C328.666 193.27 320.855 201.161 320.855 210.895C320.855 220.63 328.666 228.521 338.302 228.521Z"
                                            fill="#01739D" />
                                        <path id="Vector_24"
                                            d="M408.04 249.925H326.051C324.673 249.925 323.351 249.372 322.377 248.387C321.403 247.403 320.856 246.068 320.856 244.676C320.856 243.284 321.403 241.949 322.377 240.965C323.351 239.98 324.673 239.427 326.051 239.427H408.04C409.418 239.427 410.74 239.98 411.714 240.965C412.688 241.949 413.236 243.284 413.236 244.676C413.236 246.068 412.688 247.403 411.714 248.387C410.74 249.372 409.418 249.925 408.04 249.925V249.925Z"
                                            fill="#01739D" />
                                        <path id="Vector_25"
                                            d="M365.615 270.664H326.051C324.673 270.664 323.351 270.111 322.377 269.127C321.403 268.143 320.855 266.807 320.855 265.415C320.855 264.023 321.403 262.688 322.377 261.704C323.351 260.72 324.673 260.167 326.051 260.167H365.615C366.993 260.167 368.314 260.72 369.289 261.704C370.263 262.688 370.81 264.023 370.81 265.415C370.81 266.807 370.263 268.143 369.289 269.127C368.314 270.111 366.993 270.664 365.615 270.664V270.664Z"
                                            fill="#01739D" />
                                        <path id="Vector_26" opacity="0.5"
                                            d="M437.027 307.374H297.064C294.213 307.371 291.48 306.225 289.465 304.189C287.449 302.153 286.316 299.392 286.312 296.512V167.421C286.316 164.541 287.449 161.781 289.465 159.744C291.481 157.708 294.213 156.563 297.064 156.56H437.027C439.878 156.563 442.611 157.708 444.626 159.744C446.642 161.781 447.776 164.541 447.779 167.421V296.512C447.776 299.392 446.642 302.153 444.626 304.189C442.611 306.225 439.878 307.371 437.027 307.374V307.374Z"
                                            fill="#01739D" />
                                        <path id="Vector_27"
                                            d="M338.302 228.521C347.937 228.521 355.748 220.63 355.748 210.895C355.748 201.161 347.937 193.27 338.302 193.27C328.666 193.27 320.855 201.161 320.855 210.895C320.855 220.63 328.666 228.521 338.302 228.521Z"
                                            fill="white" />
                                        <path id="Vector_28"
                                            d="M408.04 249.925H326.051C324.673 249.925 323.351 249.372 322.377 248.387C321.403 247.403 320.856 246.068 320.856 244.676C320.856 243.284 321.403 241.949 322.377 240.965C323.351 239.98 324.673 239.427 326.051 239.427H408.04C409.418 239.427 410.74 239.98 411.714 240.965C412.688 241.949 413.236 243.284 413.236 244.676C413.236 246.068 412.688 247.403 411.714 248.387C410.74 249.372 409.418 249.925 408.04 249.925V249.925Z"
                                            fill="white" />
                                        <path id="Vector_29"
                                            d="M365.615 270.664H326.051C324.673 270.664 323.351 270.111 322.377 269.127C321.403 268.143 320.855 266.807 320.855 265.415C320.855 264.023 321.403 262.688 322.377 261.704C323.351 260.72 324.673 260.167 326.051 260.167H365.615C366.993 260.167 368.314 260.72 369.289 261.704C370.263 262.688 370.81 264.023 370.81 265.415C370.81 266.807 370.263 268.143 369.289 269.127C368.314 270.111 366.993 270.664 365.615 270.664V270.664Z"
                                            fill="white" />
                                    </g>
                                    <path id="red_ball"
                                        d="M299.951 184.413C315.41 184.413 327.941 171.753 327.941 156.136C327.941 140.518 315.41 127.858 299.951 127.858C284.493 127.858 271.961 140.518 271.961 156.136C271.961 171.753 284.493 184.413 299.951 184.413Z"
                                        fill="#FF6584" />
                                    <g id="platform">
                                        <path id="Vector_30"
                                            d="M289.682 676.035L291.012 645.827C304.875 638.34 320.338 634.386 336.057 634.307C314.423 652.176 317.126 686.622 302.459 710.652C297.827 718.112 291.594 724.422 284.22 729.117C276.846 733.812 268.521 736.77 259.862 737.772L241.757 748.971C239.273 734.979 239.821 720.61 243.363 706.853C246.905 693.096 253.356 680.278 262.274 669.283C267.337 663.164 273.143 657.715 279.554 653.062C283.89 664.613 289.682 676.035 289.682 676.035Z"
                                            fill="#F2F2F2" />
                                        <path id="Vector_31"
                                            d="M376.76 748.398C376.76 748.608 376.72 748.817 376.64 749.012C376.561 749.206 376.444 749.383 376.296 749.532C376.149 749.681 375.974 749.799 375.781 749.879C375.588 749.96 375.382 750.001 375.173 750H1.58608C1.16542 750 0.761978 749.831 0.464526 749.531C0.167074 749.23 -3.05176e-05 748.823 -3.05176e-05 748.398C-3.05176e-05 747.973 0.167074 747.565 0.464526 747.265C0.761978 746.964 1.16542 746.795 1.58608 746.795H375.173C375.382 746.795 375.588 746.836 375.781 746.916C375.974 746.996 376.149 747.114 376.296 747.263C376.444 747.412 376.561 747.589 376.64 747.784C376.72 747.978 376.76 748.187 376.76 748.398V748.398Z"
                                            fill="#CCCCCC" />
                                    </g>
                                    <g id="hand_up">
                                        <path id="Vector_32"
                                            d="M293.969 231.037C295.119 234.288 294.96 237.865 293.524 240.997C292.088 244.129 289.491 246.566 286.293 247.782C285.586 248.049 284.856 248.252 284.113 248.389L276.721 294.117L259.38 277.942L269.059 236.997C268.701 233.547 269.701 230.093 271.843 227.382C273.986 224.671 277.098 222.92 280.508 222.509C283.376 222.177 286.271 222.84 288.718 224.39C291.164 225.94 293.015 228.284 293.969 231.037L293.969 231.037Z"
                                            fill="#FFB6B6" />
                                        <path id="Vector_33"
                                            d="M165.995 334.653C165.995 334.653 179.453 316.687 228.291 317.18L256.012 307.004L262.347 248.335L284.52 253.668L281.353 326.205L233.838 353.94L171.542 366.741L165.995 334.653Z"
                                            fill="#3F3D56" />
                                    </g>
                                    <g id="body">
                                        <path id="Vector_34"
                                            d="M201.803 734.598L216.902 734.596L224.084 675.761H201.8L201.803 734.598Z"
                                            fill="#FFB6B6" />
                                        <path id="Vector_35"
                                            d="M197.952 729.617L202.202 729.617L218.794 722.8L227.687 729.616H227.688C232.713 729.616 237.533 731.633 241.086 735.223C244.64 738.813 246.636 743.682 246.637 748.759V749.382L197.953 749.383L197.952 729.617Z"
                                            fill="#2F2E41" />
                                        <path id="Vector_36"
                                            d="M65.3781 714.766L78.892 721.57L111.299 672.15L91.3556 662.107L65.3781 714.766Z"
                                            fill="#FFB6B6" />
                                        <path id="Vector_37"
                                            d="M64.1306 708.573L67.9341 710.488L85.7937 711.864L90.743 721.972L90.7441 721.973C95.2417 724.238 98.6645 728.215 100.26 733.03C101.855 737.844 101.492 743.102 99.2502 747.646L98.9755 748.203L55.4034 726.263L64.1306 708.573Z"
                                            fill="#2F2E41" />
                                        <path id="Vector_38"
                                            d="M208.493 467.386L112.492 469.916L114.162 517.145C114.162 517.145 112.492 529.795 115.831 533.169C119.171 536.542 120.84 536.542 119.171 542.446C117.501 548.349 113.185 604.756 113.185 604.756C113.185 604.756 73.7834 675.14 75.453 676.827C77.1226 678.514 78.7921 676.827 77.1225 681.044C75.453 685.261 73.7834 683.574 75.453 685.261C76.9319 686.872 78.3252 688.561 79.6269 690.321H106.838C106.838 690.321 108.36 681.887 108.36 681.044C108.36 680.201 110.029 675.14 110.029 674.297C110.029 673.454 157.571 622.565 157.571 622.565L167.588 538.229L191.797 620.879C191.797 620.879 191.797 693.408 193.467 695.095C195.136 696.782 195.136 695.938 194.302 699.312C193.467 702.685 190.128 701.842 192.632 704.372C195.136 706.902 195.971 702.685 195.136 706.902L194.302 711.119L226.373 711.481C226.373 711.481 229.713 704.372 228.043 701.842C226.373 699.312 226.474 700.003 228.51 695.862C230.547 691.722 231.382 690.878 230.547 690.035C229.713 689.191 229.713 684.706 229.713 684.706C229.713 684.706 217.676 518.831 217.676 516.301C217.613 514.999 217.85 513.7 218.369 512.507V509.073L215.171 496.904L208.493 467.386Z"
                                            fill="#2F2E41" />
                                        <path id="Vector_39"
                                            d="M109.784 489.983C109.733 489.983 109.681 489.976 109.632 489.962C109.097 489.811 108.674 489.692 110.605 472.821L112.69 459.485L110.655 447.71L107.232 444.252L112.733 438.695L117.349 425.447L109.362 413.49L100.198 364.588C98.6222 356.149 99.8465 347.422 103.681 339.758C107.515 332.094 113.745 325.923 121.404 322.2L132.011 319.069L135.87 311.919C136.954 309.911 138.549 308.233 140.492 307.058C142.434 305.883 144.651 305.255 146.915 305.237L166.338 305.091C168.298 305.076 170.234 305.52 171.996 306.388C173.757 307.256 175.296 308.524 176.49 310.093L183.267 318.993L211.367 328.636L206.708 430.061C207.448 430.687 208.051 431.461 208.48 432.334C208.909 433.208 209.153 434.162 209.198 435.136C209.243 436.11 209.088 437.083 208.741 437.993C208.395 438.903 207.866 439.73 207.186 440.423C206.894 440.721 206.662 440.963 206.519 441.123C206.045 441.803 206.934 446.879 208.032 451.189L209.439 457.789C208.988 458.116 208.608 458.533 208.324 459.015C208.04 459.496 207.858 460.033 207.789 460.589C207.72 461.146 207.767 461.711 207.925 462.248C208.083 462.786 208.35 463.284 208.709 463.712L210.504 465.854C210.859 468.539 210.145 471.257 208.519 473.412C206.893 475.566 204.487 476.981 201.83 477.347C176.149 480.878 109.918 489.983 109.784 489.983Z"
                                            fill="#3F3D56" />
                                    </g>
                                    <path id="Vector_40"
                                        d="M151.429 295.792C151.305 295.517 151.181 295.24 151.058 294.963C151.106 294.965 151.153 294.972 151.2 294.973L151.429 295.792Z"
                                        fill="#2F2E41" />
                                    <g id="head">
                                        <path id="ab6171fa-7d69-4734-b81c-8dff60f9761b"
                                            d="M158.844 297.226C174.853 297.226 187.83 284.115 187.83 267.942C187.83 251.769 174.853 238.658 158.844 238.658C142.835 238.658 129.858 251.769 129.858 267.942C129.858 284.115 142.835 297.226 158.844 297.226Z"
                                            fill="#FFB6B6" />
                                        <path id="Vector_41"
                                            d="M129.052 239.989C130.428 238.678 132.217 237.896 134.106 237.782C135.98 237.843 137.881 239.553 137.492 241.407C140.935 235.248 146.415 230.512 152.97 228.028C159.526 225.545 166.737 225.474 173.339 227.827C177.998 229.487 182.566 232.809 183.637 237.682C183.741 238.961 184.118 240.202 184.743 241.319C185.285 241.917 185.988 242.341 186.765 242.54C187.542 242.739 188.36 242.704 189.118 242.439L189.164 242.426C189.423 242.336 189.703 242.327 189.968 242.4C190.232 242.473 190.469 242.625 190.647 242.835C190.825 243.046 190.937 243.305 190.968 243.58C190.998 243.855 190.946 244.134 190.819 244.379L189.501 246.862C191.162 247.237 192.889 247.199 194.533 246.754C194.806 246.682 195.095 246.697 195.36 246.797C195.624 246.896 195.852 247.077 196.011 247.312C196.17 247.548 196.253 247.828 196.249 248.113C196.244 248.398 196.153 248.675 195.986 248.906C193.796 251.933 190.936 254.403 187.634 256.117C184.333 257.832 180.68 258.744 176.968 258.782C171.702 258.749 166.381 256.915 161.255 258.139C159.272 258.612 157.419 259.528 155.832 260.819C154.245 262.11 152.965 263.744 152.084 265.601C151.204 267.457 150.746 269.489 150.745 271.547C150.743 273.606 151.197 275.639 152.075 277.496C150.5 275.756 147.456 276.168 145.845 277.874C145.104 278.788 144.555 279.845 144.235 280.981C143.914 282.117 143.827 283.308 143.98 284.479C144.41 288.066 145.464 291.548 147.094 294.765C140.866 294.571 134.847 292.451 129.849 288.691C124.852 284.931 121.118 279.712 119.15 273.739C117.183 267.766 117.077 261.327 118.848 255.291C120.619 249.256 124.18 243.915 129.052 239.989L129.052 239.989Z"
                                            fill="#2F2E41" />
                                    </g>
                                    <g id="hand_down">
                                        <path id="Vector_42"
                                            d="M121.076 531.983C118.305 529.963 116.43 526.925 115.856 523.522C115.282 520.119 116.055 516.624 118.008 513.792C118.441 513.167 118.928 512.582 119.463 512.044L99.9033 470.135L123.264 473.534L138.257 512.81C140.488 515.448 141.601 518.867 141.357 522.327C141.112 525.787 139.53 529.012 136.951 531.303C134.774 533.219 132.017 534.33 129.132 534.453C126.247 534.577 123.406 533.706 121.076 531.983H121.076Z"
                                            fill="#FFB6B6" />
                                        <path id="Vector_43"
                                            d="M115.153 509.099L84.0279 438.427L83.7162 382.61L93.5275 352.46C94.8586 348.369 96.9878 344.59 99.7893 341.345C102.591 338.1 106.008 335.455 109.838 333.567C113.669 331.679 117.835 330.586 122.091 330.353C126.347 330.119 130.606 330.75 134.616 332.208L134.832 332.286L134.923 332.5C135.285 333.355 143.514 353.918 119.106 396.222L114.193 425.168L131.43 491.518L115.153 509.099Z"
                                            fill="#3F3D56" />
                                    </g>
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    </div>
    <div class="piano_loader">
        <div class="piano">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <h2 class="piano_text">Maestro</h2>
    </div>
</body>
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.all.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
<script src='/js/maestro/meastro_home.js'></script>

</html>