@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

body{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.7;
	color: #ececee;
	background-color: #1f2029;
	/* overflow: hidden; */

  background-position: center;
  background-repeat: repeat;
  height: 100vh;
  width: 100%;
  animation: fade_in 2.1s ease-in;
}
.section-center{
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 6;
  text-align: center;
  transform: translateY(-50%);
}


.section-center a{
    background: #353746;
    border: 0px;
    color: white;
    text-decoration: none;
}
.section-center a:hover{
    background:#e0e0e0;
    color: rgb(0, 0, 0);
}
   


.section-center h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  animation: float 4.8s ease-in infinite;
}

.section-center h5{
    animation: float 4.5s ease-in infinite;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
}
.menu-icon:checked + label,
.menu-icon:not(:checked) + label{
  position: fixed;
  top: 63px;
  right: 75px;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 10;
}
.menu-icon:checked + label:before,
.menu-icon:not(:checked) + label:before{
  position: absolute;
  content: '';
  display: block;
  width: 30px;
  height: 20px;
  z-index: 20;
  top: 0;
  left: 0;
  border-top: 2px solid #ececee;
  border-bottom: 2px solid #ececee;
  transition: border-width 100ms 1500ms ease, 
              top 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
              height 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1), 
              background-color 200ms ease,
              transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:after,
.menu-icon:not(:checked) + label:after{
  position: absolute;
  content: '';
  display: block;
  width: 22px;
  height: 2px;
  z-index: 20;
  top: 10px;
  right: 4px;
  background-color: #ececee;
  margin-top: -1px;
  transition: width 100ms 1750ms ease, 
              right 100ms 1750ms ease,
              margin-top 100ms ease, 
              transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:before{
  top: 10px;
  transform: rotate(45deg);
  height: 2px;
  background-color: #ececee;
  border-width: 0;
  transition: border-width 100ms 340ms ease, 
              top 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
              height 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1), 
              background-color 200ms 500ms ease,
              transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:after{
  width: 30px;
  margin-top: 0;
  right: 0;
  transform: rotate(-45deg);
  transition: width 100ms ease,
              right 100ms ease,  
              margin-top 100ms 500ms ease, 
              transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav{
  position: fixed;
  top: 33px;
  right: 50px;
  display: block;
  width: 80px;
  height: 80px;
  padding: 0;
  margin: 0;
  z-index: 9;
  overflow: hidden;
  box-shadow: 0 8px 30px 0 rgba(0,0,0,0.3);
  background-color: #353746;
  animation: border-transform 7s linear infinite;
  transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),  
              right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
              transform 250ms 1100ms ease,
              width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1),
              height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
@keyframes border-transform{
    0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
  14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
  28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
  42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
  56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
  70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
  84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
}

.menu-icon:checked ~ .nav {
  animation-play-state: paused;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 200%;
  height: 200%;
  transition: top 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),  
              right 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),
              transform 250ms 700ms ease,
              width 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1),
              height 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav ul{
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 6;
  text-align: center;
  transform: translateY(-50%);
  list-style: none;
}
.nav ul li{
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  margin: 10px 0;
  text-align: center;
  list-style: none;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: all 250ms linear;
}
.nav ul li:nth-child(1){
  transition-delay: 200ms;
}
.nav ul li:nth-child(2){
  transition-delay: 150ms;
}
.nav ul li:nth-child(3){
  transition-delay: 100ms;
}
.nav ul li:nth-child(4){
  transition-delay: 50ms;
}
.nav ul li:nth-child(5){
  transition-delay: 50ms;
}
.nav ul li a{
  font-family: 'Montserrat', sans-serif;
  font-size: 7vh;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 800;
  display: inline-block;
  position: relative;
  color: #ececee;
  transition: all 250ms linear;
}
.nav ul li a:hover{
  text-decoration: none;
  color: #ffeba7;
}
.nav ul li a:after{
  display: block;
  position: absolute;
  top: 50%;
  content: '';
  height: 2vh;
  margin-top: -1vh;
  width: 0;
  left: 0;
  background-color: #353746;
  opacity: 0.8;
  transition: width 250ms linear;
}
.nav ul li a:hover:after{
  width: 100%;
}


.menu-icon:checked ~ .nav  ul li {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 350ms ease,
              transform 250ms ease;
}
.menu-icon:checked ~ .nav ul li:nth-child(1){
  transition-delay: 1400ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(2){
  transition-delay: 1480ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(3){
  transition-delay: 1560ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(4){
  transition-delay: 1640ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(5){
  transition-delay: 1620ms;
}



.logo {
	position: absolute;
	top: 50px;
	left: 40px;
	display: block;
	z-index: 11;
	transition: all 250ms linear;
}
.logo img {
	height: 80px;
	width: auto;
	display: block;
}



@media screen and (max-width: 991px) {
  .menu-icon:checked + label,
  .menu-icon:not(:checked) + label{
    right: 55px;
  }
  .logo {
    left: 30px;
  }
  .nav{
    right: 30px;
  }
  h1{
    font-size: 9vw;
    -webkit-text-stroke: 2px transparent;
    text-stroke: 2px transparent;
    -webkit-text-fill-color: #ffeba7;
    text-fill-color: #ffeba7;
    color: #ffeba7;
  }
  .nav ul li a{
    font-size: 8vh;
  }
}


/* pianokeys */
.piano_body{
    position: absolute;
    width: 100%;
    height: 330px;
    padding-top: 190px;
}



.piano_keys{
    display: flex;
    position: relative;
    margin-left: 4px;
    background: #ececee;
}

.white-key{
    width: 40px;
    height: 170px;
    background-color: #fff;
    border-left: 4px solid black;
    border-right: 4px solid black;
    
    margin-left: -4px;
    outline: none;
    cursor: pointer;
}

.white-key:hover{
    transform: scaleX(1.1);
}



.black-key {
    position: absolute;
    width: 24px;
    height: 100px;
    background-image: linear-gradient(#000000, #303030);
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-radius: 0 0 2px 2px;
    outline: none;
    cursor: pointer;
  }

.black-key:hover{
    transform: scaleX(1.1);
}


  
  .Db4-key {
    left: 22px;
  }
  
  .Eb4-key {
    left: 58px;
  }
  
  .Gb4-key {
    left: 130px;
  }
  
  .Ab4-key {
    left: 166px;
  }
  
  .Bb4-key {
    left: 202px;
  }
  
  .Db5-key {
    left: 274px;
  }
  
  .Eb5-key {
    left: 310px;
  }

  .Gb4-key1 {
    left: 382px;
  }
  
  .Ab4-key1 {
    left: 418px;
  }
  
  .Bb4-key1 {
    left: 453px;
  }
  
  .Db5-key1 {
    left: 526px;
  }
  
  .Eb5-key1 {
    left: 563px;
  }
  /* row key  */
  .Db4-key2 {
    left: 634px;
  }
  
  .Eb4-key2 {
    left: 670px;
  }
  
  .Gb4-key2 {
    left: 706px;
  }
  
  .Ab4-key2 {
    left: 778px;
  }
  
  .Bb4-key2 {
    left: 814px;
  }
  
  .Db5-key2 {
    left: 886px;
  }
  
  .Eb5-key2 {
    left: 922px;
  }
  /* row key 3 */
  .Db4-key3 {
    left: 958px;
  }
  
  .Eb4-key3 {
    left: 1030px;
  }
  
  .Gb4-key3 {
    left: 1065px;
  }
  
  .Ab4-key3 {
    left: 1137px;
  }
  
  .Bb4-key3 {
    left: 1174px;
  }
  
  .Db5-key3 {
    left: 1210px;
  }
  
  .Eb5-key3 {
    left: 1282px;
  }

  /* key row 4 */

  .Db5-key4{
    left: 1317px;
  }
  .Eb5-key4{
    left: 1389px;
  }
  
  .Gb4-key4 {
    left: 1425px;
  }
  
  .Ab4-key4 {
    left: 1461px;
  }


  .header_w{
    width: 100%;
    height: 100vh;
  }

  .piano_symbol{
    position: absolute;
    width: 100%;
    height: 80vh;
  }
.piano_symbol span{
    position: absolute;
}
  .sym_1 img{
    position: absolute;
    top: 10px;
    left: 50px;
    height: 35px;
    animation: flyUp 30s ease-in infinite;
    opacity: 30%;
  }
  .sym_2 img{
    position: absolute;
    top: -100px;
    left: 150px;
    height: 35px;
    animation: flyUp 17s ease-in infinite,  fade_in 9.2s ease-in;
    opacity: 30%;
  }
  .sym_3 img{
    position: absolute;
    top: 10px;
    left: 100px;
    height: 35px;
    animation: flyUp 22s ease-in infinite,  fade_in 9s ease-in;
    opacity: 30%;
  }
  .sym_4 img{
    position: absolute;
    top: 10px;
    left: 1400px;
    height: 35px;
    animation: flyUp 40s ease-in infinite;
    opacity: 30%;
  }
  .sym_5 img{
    position: absolute;
    top: -410px;
    left: 250px;
    height: 35px;
    animation: flyUp 35s ease-in infinite,  fade_in 9.6s ease-in;
    opacity: 30%;
  }
  .sym_6 img{
    position: absolute;
    top: 10px;
    left: 1200px;
    height: 35px;
    animation: flyUp 19s ease-in infinite;
    opacity: 30%;
  }
  .sym_7 img{
    position: absolute;
    top: 10px;
    left: 650px;
    height: 35px;
    animation: flyUp 30s ease-in infinite,  fade_in 9.4s ease-in;
    opacity: 30%;
  }
  .sym_8 img{
    position: absolute;
    top: 10px;
    left: 1000px;
    height: 35px;
    animation: flyUp 38s ease-in infinite;
    opacity: 30%;
  }
  .sym_9 img{
    position: absolute;
    top: -210px;
    left: 800px;
    height: 35px;
    animation: flyUp 20s ease-in infinite,  fade_in 8s ease-in;
    opacity: 30%;
  }
  .sym_10 img{
    position: absolute;
    top: 10px;
    left: 420px;
    height: 35px;
    animation: flyUp 32s ease-in infinite;
    opacity: 30%;
  }
  .sym_11 img{
    position: absolute;
    top: 10px;
    left: 850px;
    height: 35px;
    animation: flyUp 30s ease-in infinite,  fade_in 9.8s ease-in;
    opacity: 30%;
  }
  .sym_12 img{
    position: absolute;
    top: -350px;
    left: 1100px;
    height: 35px;
    animation: flyUp 25s ease-in infinite,  fade_in 10s ease-in;
    opacity: 30%;
  }
  .sym_13 img{
    position: absolute;
    top: 10px;
    left: 580px;
    height: 35px;
    animation: flyUp 31s ease-in infinite;
    opacity: 30%;
  }



/* welcome section */
  .welcome{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .welcome h3{
    font-weight: 700;
    font-size: 80px;
  }



  @media screen and (max-width: 395px){
    .welcome h3 {
      font-size: 40px;
  }

    .section-center h1{
      font-size: 28px;
    }
    .section-center h5{
      font-size: 20px;
    }

    .white-key{
      width: 150px;
      height: 180px;
    }
    .black-key {
      width: 30px;
      height: 110px;
    }
    .Db4-key {
      left: 30px;
    }
    
    .Eb4-key {
      left: 79px;
    }
    
    .Gb4-key {
      left: 175px;
    }
    
    .Ab4-key {
      left: 224px;
    }
    
    .Bb4-key {
      left: 273px;
    }
    
    .Db5-key {
      left: 363px;
    }
    
    .Eb5-key {
      display:none;
    }
    
    .D5-key{
      display:none;
    }
    .C5-key{
      display:none;
    }
    .E5-key{
      display:none;
    }
    .B4-key{
      display:none;
    }
    .A4-key{
      display:none;
    }
    .G4-key{
      display:none;
    }
    .F4-key{
      display:none;
    }
    .E4-key{
      display:none;
    }
    
  
    .Gb4-key1 {
      display:none;
    }
    
    .Ab4-key1 {
      display:none;
    }
    
    .Bb4-key1 {
      display:none;
    }
    
    .Db5-key1 {
      display:none;
    }
    
    .Eb5-key1 {
      display:none;
    }
    /* row key  */
    .Db4-key2 {
      display:none;
    }
    
    .Eb4-key2 {
      display:none;
    }
    
    .Gb4-key2 {
      display:none;
    }
    
    .Ab4-key2 {
    display:none;
    }
    
    .Bb4-key2 {
      display:none;
    }
    
    .Db5-key2 {
      display:none;
    }
    
    .Eb5-key2 {
      display:none;
    }
    /* row key 3 */
    .Db4-key3 {
      display:none;
    }
    
    .Eb4-key3 {
      display:none;
    }
    
    .Gb4-key3 {
      display:none;
    }
    
    .Ab4-key3 {
      display:none;
    }
    
    .Bb4-key3 {
      display:none;
    }
    
    .Db5-key3 {
      display:none;
    }
    
    .Eb5-key3 {
      display:none;
    }
    
    /* key row 4 */
    
    .Db5-key4{
      display:none;
    }
    .Eb5-key4{
      display:none;
    }
    
    .Gb4-key4 {
      display:none;
    }
    
    .Ab4-key4 {
      display:none;
    }
  
    .sym_1 img{
      display:none;
    }
    .sym_2 img{
      display:none;
    }
    .sym_3 img{
      display:none;
    }
    .sym_4 img{
      display:none;
    }
    .sym_5 img{
      display:none;
    }
    .sym_6 img{
      display:none;
    }
    .sym_7 img{
     display:none;
    }
    .sym_8 img{
      display:none;
    }
    .sym_9 img{
      display:none;
    }
    .sym_10 img{
      display:none;
    }
    .sym_11 img{
      display:none;
    }
    .sym_12 img{
      display:none;
    }
    .sym_13 img{
      display:none;
    }
  }

  @media screen and (min-width: 1600px) {
    .piano_body{
      padding-top: 270px;
  }
  .white-key{
    width: 50px;
    height: 180px;
  }
  .black-key {
    width: 30px;
    height: 110px;
  }
  .Db4-key {
    left: 28px;
  }
  
  .Eb4-key {
    left: 73px;
  }
  
  .Gb4-key {
    left: 163px;
  }
  
  .Ab4-key {
    left: 208px;
  }
  
  .Bb4-key {
    left: 253px;
  }
  
  .Db5-key {
    left: 345px;
  }
  
  .Eb5-key {
    left: 389px;
  }

  .Gb4-key1 {
    left: 480px;
  }
  
  .Ab4-key1 {
    left: 571px;
  }
  
  .Bb4-key1 {
    left: 662px;
  }
  
  .Db5-key1 {
    left: 526px;
  }
  
  .Eb5-key1 {
    left: 707px;
  }
  /* row key  */
  .Db4-key2 {
    left: 797px;
  }
  
  .Eb4-key2 {
    left: 843px;
  }
  
  .Gb4-key2 {
    left: 887px;
  }
  
  .Ab4-key2 {
    left: 979px;
  }
  
  .Bb4-key2 {
    left: 1023px;
  }
  
  .Db5-key2 {
    left: 1113px;
  }
  
  .Eb5-key2 {
    left: 1160px;
  }
  /* row key 3 */
  .Db4-key3 {
    left: 1205px;
  }
  
  .Eb4-key3 {
    left: 1294px;
  }
  
  .Gb4-key3 {
    left: 1341px;
  }
  
  .Ab4-key3 {
    left: 1430px;
  }
  
  .Bb4-key3 {
    left: 1475px;
  }
  
  .Db5-key3 {
    left: 1520px;
  }
  
  .Eb5-key3 {
    left: 1611px;
  }
  
  /* key row 4 */
  
  .Db5-key4{
    left: 1656px;
  }
  .Eb5-key4{
    left: 1747px;
  }
  
  .Gb4-key4 {
    left: 1791px;
  }
  
  .Ab4-key4 {
    left: 1837px;
  }

  .sym_1 img{
    display:none;
  }
  .sym_2 img{
    display:none;
  }
  .sym_3 img{
    display:none;
  }
  .sym_4 img{
    display:none;
  }
  .sym_5 img{
    display:none;
  }
  .sym_6 img{
    display:none;
  }
  .sym_7 img{
   display:none;
  }
  .sym_8 img{
    display:none;
  }
  .sym_9 img{
    display:none;
  }
  .sym_10 img{
    display:none;
  }
  .sym_11 img{
    display:none;
  }
  .sym_12 img{
    display:none;
  }
  .sym_13 img{
    display:none;
  }
  }



  @keyframes fade_in{
    0%{
      opacity: 0;
    }100%{
      opacity: 1;
    }
  }

  @keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-5px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes flyUp {
    0%   { 
    transform: rotate(20deg);		
    transform: translateY(650px); 
    }
    100% { 
    transform: translateY(0px); 
    transform: rotate(180deg);	
    }
   }