<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'> 
    <link rel="shortcut icon" type="image/x-icon" href="https://user-images.githubusercontent.com/43387401/188338613-85b6ccb8-1ef0-4e2a-a321-1e5cfc7e8aa8.png" />
    <script src="https://kit.fontawesome.com/14fac1d4b2.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.4.9/sweetalert2.css">
    <link rel='stylesheet' type='text/css' media='screen' href='/vendor/bootstrap/css/bootstrap.min.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/home.css'>
</head>
<body>
    {{>navbar}}
    {{{body}}}
</body>
</html>
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.4.9/sweetalert2.js"></script>
<script src='/vendor/bootstrap/js/bootstrap.min.js'></script>
<script src='js/home.js'></script>

